<div class="col-sm-12">
  <div class="row" style="justify-content: center">
    <div class="col-sm-1 _socialCTA _googleRed" id="use_google" (click)="getLoginBySocials($event)">
      <fa-icon [icon]="faGoogle"></fa-icon>
    </div>
    <div class="col-sm-1 _socialCTA _facebookBlue" id="use_facebook" (click)="getLoginBySocials($event)">
      <fa-icon [icon]="faFaceBook"></fa-icon>
    </div>
    <div class="col-sm-1 _socialCTA _instagramGradient" id="use_instagram" (click)="getLoginBySocials($event)">
      <fa-icon [icon]="faInstagram"></fa-icon>
    </div>
    <div class="col-sm-1 _socialCTA _twitterBlue" id="use_twitter" (click)="getLoginBySocials($event)">
      <fa-icon [icon]="faTwitter"></fa-icon>
    </div>
    <div class="col-sm-1 _socialCTA _linkedinBlue" id="use_linkedin" (click)="getLoginBySocials($event)">
      <fa-icon [icon]="faLinkedIN"></fa-icon>
    </div>
  </div>
</div>
