<div class="row">
<!--  <div class="col-xl-8 col-lg-8 col-md-8 _chatVideoHolder">-->
<!--    <app-video-call></app-video-call>-->
<!--  </div>-->
  <div class="col-xl-12 col-lg-12 col-md-4 12 _chatTextHolder">
    <div class="col-xl-12 col-lg-12 col-md-12 _textChat">
      <div class="col-xl-11 col-lg-11 cool-md-12 col-sm-12">
        <div class="row _tempChats" #chatArea>
          <div class="col-sm-12" *ngFor="let message of messages">
            <div class="_messageBox" id="{{message._id}}_text" *ngIf="message.type==='text'" [ngClass]="{_floatRight: message.me}">
              <p>{{message.message}}</p>
              <div>{{dateTimeConverter(message.timestamp)}}</div>
            </div>
            <div class="_messageBox" id="{{message._id}}_call" *ngIf="message.type==='call'" (click)="toCall(message.message)" [ngClass]="{_floatRight: message.me}">
              <p>Click to join the call</p>
              <div>{{dateTimeConverter(message.timestamp)}}</div>
            </div>
            {{scrollDown(message._id)}}
          </div>
        </div>
        <div class="col-sm-12 _tempInputs">
          <div class="row" style="height: 10vh; align-items: center;padding-left: 20px;">
            <div class="col-sm-1">
              <div class="_dpHolder">
                <img src="http://127.0.0.1:8080/image/default.png" height="50px">
              </div>
            </div>
            <form class="form-inline _textarea col-sm-10" [formGroup]="messageForm">
              <div class="form-group col-sm-9" style="overflow-y: auto">
                <textarea type="text" rows="1" class="form-control" #textInput id="inputPassword2" placeholder="message" id="textInput" formControlName="textMessage"></textarea>
                <input type="file" #fileSelector style="display: none" formControlName="mediaMessage">
              </div>
              <div class="form-group col-sm-3">
                  <ul id="chatOptions">
                    <li>
                      <button class="_iconButton">
                        <fa-icon [icon]="faUpload" (click)="selectFile()"></fa-icon>
                      </button>
                    </li>
                    <li>
                      <button class="_iconButton">
                        <fa-icon [icon]="faPhoneAlt" (click)="sendCreateRoom()"></fa-icon>
                      </button>
                    </li>
                    <li>
                      <button class="_iconButton">
                        <fa-icon [icon]="faPaperPlane" (click)="sendMessage()"></fa-icon>
                      </button>
                    </li>
                  </ul>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
